
body {
	background: url("img/frenchstucco.png") repeat;
	padding: 60px 0px 0px 0px;
}

.navbar-inner {
/*	background-color: #4ec21c;
	background-image: -moz-linear-gradient(top, #4ec21c, #3c9415);
	background-image: -ms-linear-gradient(top, #4ec21c, #3c9415);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ec21c), to(#3c9415));
	background-image: -webkit-linear-gradient(top, #4ec21c, #3c9415);
	background-image: -o-linear-gradient(top, #4ec21c, #3c9415);
	background-image: linear-gradient(top, #4ec21c, #3c9415);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ec21c', endColorstr='#3c9415', GradientType=0);*/
}

header {

}

.app {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#fafafa));
	background-image: -webkit-linear-gradient(top, #ffffff, #fafafa);
	background-image: linear-gradient(top, #ffffff, #fafafa);
	border: 1px solid #dddddd;
	padding: 10px;
}

.record.active{

}

.record.stopped{
	color: #999999;
	text-decoration: line-through;
}